html {
	body {
		background: #FFFFFF;
		color: #333;
		font-family: Lato, sans-serif;
        margin: 10px;

        * {
            box-sizing: border-box;
        }

        h3 {
            display: flex;
            color: #888;
            color: #333333;
            font-weight: 700;
            font-size: 15px;
            border-bottom: 1px solid #333;
            padding: 0 0 10px;
            margin: 0px 0px 15px;
            text-transform: uppercase;
        }

        li {
            clear: both;
            list-style: none;
        }
        input, button {
            outline: none;
        }

        button {
            background: none;
            border: 0px;
            color: #888888;
            font-size:13px;
            font-family: Lato, sans-serif;
            cursor: pointer;
            min-width: 60px;
        }

        .hide {
            display: none !important;
        }

        .error {
            color: #F00 !important;
            font-size: 14px;
        }
        

        .form-control {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 6px;
            font-family: Lato, sans-serif;
            color: #888;
            padding: 5px;

			:focus {
				color: #333;
			}
		}

		.container {
			max-width: 600px;
            width: 100%;
            margin: 0px auto;
            padding: 15px;
		}
        
        .task-tracker{
            padding:50px 0;
        }

        .item-block {
            margin: 0 0 30px 0;

            .item-label {
                display: flex; 
                
                .hide {
                    display: none;
                }
            }

            .input-group {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        
		.add-item-block {
            input.new-task-input {
                flex: 1;
            }

            .add-btn {
                border: 1px solid #3699FF;
                border-radius: 6px;
                padding: 7px;
                margin: 0 0 0 8px;
                background-color: #3699FF;
                color: #fff;
                min-width: 80px;
            }
        }

		.list-block {
            ul {
                margin: 0px;
                padding: 0;
                width: 100%;
                margin: 0px 0 15px 0;

                li {
                    border-bottom: 1px solid #ddd;
                    padding: 9px 0 9px 0;

                    &:last-child {
                        border-color: transparent;
                    }

                    &.editMode {
                        .item-wrapper {
                            & > input[type="checkbox"] {
                                cursor: not-allowed;
                                pointer-events: none;
                            }
                            .item-content {
                                .form-control {
                                    display: block;
                                }
    
                                .item-label {
                                    display: none;
                                }
                            }
    
                            .action-btns {
                                .edit, .delete {
                                    display: none;
                                }
    
                                .save, .cancel {
                                    display: block;
                                }
                            }
                        }
                    }
                    .item-wrapper {
                        display: flex;
                        align-items: center;
                        overflow: hidden;

                        .item-content {
                            flex: 1;
                            .form-control {
                                display: none;
                            }
                        }
    
                        .action-btns {
                            display: flex;
                            button.edit,
                            button.save,
                            button.delete,
                            button.cancel {
                                color: #FFFFFF;
                                padding: 8px 0;
                                border-radius: 5px;
                                margin: 0 6px 0 0;
                            }
                            button.edit {
                                background-color: #3699FF;
                            }
                            button.delete {
                                background-color: #F64E60;
                            }
                            button.save {
                                background-color: #3699FF;
                                margin-left:6px;
                            }
                            button.cancel {
                                background-color: #808080;
                            }

                            .edit, .delete {
                                display: block;
                            }
    
                            .save, .cancel {
                                display: none;
                            }
                        }
    
    
                        & > input[type="checkbox"] {
                            margin: 0 10px;
                        }
    
                        & > label {
                            font-size: 18px;
                            line-height: 40px;
                            width: 237px;
                            padding: 0 0 0 11px;
                        }
                        & > input[type="text"] {
                            width: 226px;
                        }
                        & > .delete {
                            :hover {
                                color: #CF2323;
                            }
                        }
                    }
                }
            }
            
			
            .no-item{
                text-align:center;
                padding: 20px 0;
            }
		}

		
		#completed-tasks {
			label {
				text-decoration: line-through;
				color: #888;
			}
		}
	}
}
